@font-face {
  font-family:"Regular";
  src: local("IndieFlower-Regular"), url("./fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight:bold;
}

body {
  font-family:"Regular";
  background-image: url('./images/botanicals.jpg');
}